[Unit]
Description=Node.js SMILE Plug Server
After=syslog.target
After=network.target

[Service]
# Type=forking
Type=simple
User=root
WorkingDirectory=/root/smileplug-server
ExecStart=/usr/bin/forever smileplug.js
# ExecStart=/usr/bin/node smileplug.js
TimeoutSec=300

[Install]
WantedBy=multi-user.target
